DEVS="{{ docker_dev }}"
VG="{{ docker_vg }}"
DATA_SIZE="{{ docker_data_size }}"
STORAGE_DRIVER=overlay2
CONTAINER_ROOT_LV_NAME="{{ container_root_lv_name }}"
CONTAINER_ROOT_LV_MOUNT_PATH="{{ container_root_lv_mount_path }}"
CONTAINER_ROOT_LV_SIZE="{{ container_root_lv_size }}"
WIPE_SIGNATURES=true
