global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
      - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
    - targets:
      - 127.0.0.1:9100
    - targets:
{% for host in groups['gitlab-runners'] %}
{% if hostvars[host].ansible_wg0 is defined %}
      - {{ hostvars[host].ansible_wg0.ipv4.address }}:9100
{% endif %}
{% endfor %}
      labels:
        role: gitlab-runner

    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: instance
        regex: 127.0.0.1:9100
        replacement: fosshost.gnome.org
{% for host in groups['gitlab-runners'] %}
{% if hostvars[host].ansible_wg0 is defined %}
      - source_labels: [ __address__ ]
        target_label: instance
        regex: {{ hostvars[host].ansible_wg0.ipv4.address }}:9100
        replacement: {{ host }}
{% endif %}
{% endfor %}
