#jinja2: lstrip_blocks: True
concurrent = {{ gitlab_runner_concurrent }}
check_interval = {{ gitlab_runner_check_interval }}

[session_server]
session_timeout = {{ gitlab_runner_session_timeout }}

{% for runner in gitlab_runner_runners %}
[[runners]]
name = "{{ runner['name'] }}"
output_limit = {{ runner['output_limit'] | default(16384) }}
url = "{{ runner['url'] }}"
token = "{{ runner['token'] }}"
executor = "{{ runner['executor'] }}"
  {% if 'docker' in runner %}
[runners.docker]
    {% for k,v in runner['docker'].items()  %}
{{ k }} = {{ v }}
    {% endfor %}
    {% if runner['seccomp'] is defined %}
security_opt = ["apparmor:unconfined", 'seccomp:{% include "./files/" + runner['seccomp'] + "-docker-seccomp.json" %}']
    {% endif %}
  {% endif %}
  {% if 'machine' in runner %}
[runners.machine]
    {% for k,v in runner['machine'].items() %}
{{ k }} = {{ v }}
    {% endfor %}
  {% endif %}
  {% if 'cache' in runner %}
[runners.cache]
    {% for k,v in runner['cache'].items() %}
{{ k }} = {{ v }}
    {% endfor %}
  {% endif %}
  {% if 'cache.s3' in runner %}
[runners.cache.s3]
    {% for k,v in runner['cache.s3'].items() %}
{{ k }} = {{ v }}
    {% endfor %}
  {% endif %}
  {% if 'ssh' in runner %}
[runners.ssh]
    {% for k,v in runner['ssh'].items() %}
{{ k }} = {{ v }}
    {% endfor %}
  {% endif %}
{% endfor %}
