version: '3'

services:
  app:
    entrypoint: [bin/start]
    image: registry.gitlab.gnome.org/infrastructure/bbb-greenlight:latest
    container_name: greenlight-v2
    env_file: .env
    restart: unless-stopped
    ports:
      - 127.0.0.1:5000:80
    volumes:
      - ./log:/usr/src/app/log
      - ./storage:/usr/src/app/storage
    links:
      - db
    extra_hosts:
      view.gnome.org: 172.31.2.9
      mail.gnome.org: 172.31.2.36

  db:
    image: postgres:9.5
    restart: unless-stopped
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - ./db/production:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD={{ bbb_greenlight_db_password }}
